<div class="modal-overlay" *ngIf="currentNotification" (click)="close()">
  <div class="modal-container" (click)="$event.stopPropagation()">
    <div class="modal-content" [class]="'type-' + currentNotification.type">
      <div class="modal-icon">
        <span class="icon">{{ getIcon() }}</span>
      </div>
      <div class="modal-body">
        <h2 class="modal-title">{{ currentNotification.title }}</h2>
        <p class="modal-message">{{ currentNotification.message }}</p>
      </div>
      <div class="modal-footer">
        <button class="btn-okay" (click)="close()">Okay</button>
      </div>
    </div>
  </div>
</div>
